@use "sass:math";

.page-footer {

  margin-top: $grid-gutter-width;
  text-align: center;

  > .content {
    border-top: 1px solid $gray-lighter;
    margin-bottom: 0;
    padding: math.div($grid-gutter-width, 2);
    padding-top: $grid-gutter-width;
  }
}

